<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <!-- Bootstrap CDN -->
    <%- include('../shared/cdn') %>
    <!-- Bootstrap CDN -->
</head>
<body>
    <!-- Header -->
    <%- include('../shared/header') %>
    <!-- Header -->

    <!-- Body -->
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Welcome <%= username %>! </h1>
            <a href="/" class="btn btn-success mt-3">Start Shopping</a>
        </div>

    </div>
    <!-- Body -->
</body>
</html>