<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <!-- Bootstrap CDN -->
    <%- include('../shared/cdn') %>
    <!-- Bootstrap CDN -->
    <style>
        input{
            min-height: 45px;
        }
        .card{
            max-width: 500px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="card text-center mx-auto mt-3">
            <h1 class="text-center">Sign in</h1>
            <%- include('../shared/messages.ejs') %>
            <div class="card-body">
                <form action="/user/login" method="POST">
                    <div class="row">
                        <div class="col col-12">
                            <input type="email" name="email" id="email" placeholder="Email" class="w-100 pb-2 mb-1" required>
                        </div>
                        <div class="col col-12">
                                <input type="password" name="password" id="pwd" placeholder="Password" class="w-100 pb-2 mb-3" required>
                        </div>
                        <div class="col col-12">
                            <input type="submit" value="Login" class="btn btn-success w-100">
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                Not have an account. <a href="/user/signup">Sign up</a>
            </div>
        </div>
    </div>
</body>
</html>